**/Cache/*
**/CachedData/*
**/google-chrome/*
**/cache/*
**/MongoDB Compass/*
*.udb
*.udb-shm
*.udb-wal
**/miopen/*
**/libreoffice/*
**/go/*
**/Code/*
**/Code - OSS/*
**/cpupower_gui/*
**/github-copilot/*
**/Electron/*
**/ibus/*
**/node_modules/*
**/coc-omnisharp-data/*
**/coc/list_history.dat
**/Postman/*
**/VirtualBox/*
filezilla
gopls/prompt
fcitx/dbus
dconf
